@page "{location=Oslo}"

@using birthdayservice.Model
@model IndexModel
@{
    ViewData["Title"] = "Birthdays";
}

<center>
    @if (Model.Response.TodaysBirthdays.Any())
    {
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s6 offset-s3 valign">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            @foreach (var birthday in Model.Response.TodaysBirthdays)
                            {
                                <span class="card-title">@birthday.Name</span>

                                <table style="  margin-bottom: 25px; vertical-align: middle; horiz-align: right">
                                    <tr>
                                        <td><i class="fa fa-birthday-cake fa-lg"></i></td>

                                        @if (@birthday.IsAniversary)
                                        {
                                            <td style="text-align: center; vertical-align: middle;">fyller @birthday.Years år i dag!</td>
                                        }
                                        else
                                        {
                                            <td style="text-align: center; vertical-align: middle;">har bursdag!</td>
                                        }
                                        <td style="text-align: right; vertical-align: middle;"><i class="fa fa-birthday-cake fa-lg"></i></td>
                                    </tr>
                                </table>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @foreach (var birthday in Model.Response.NextBirthdays)
    {
        if (@birthday.IsAniversary)
        {
            if (@birthday.Days == 1)
            {
                <p><b>@birthday.Name</b> fyller <b>@birthday.Years</b> år i morgen!</p>
            }
            else
            {
                <p><b>@birthday.Name</b> fyller <b>@birthday.Years</b> år om @birthday.Days dager</p>
            }
        }
        else
        {
            if (@birthday.Days == 1)
            {
                <p><b>@birthday.Name</b> har bursdag i morgen!</p>
            }
            else
            {
                <p><b>@birthday.Name</b> har bursdag om @birthday.Days dager</p>
            }
        }
    }
</center>

@*<iframe src="https://hjerpbakk.com/dips/" height="450" width="100%"></iframe>*@