@page "{location=Oslo}"

@using birthdayservice.Model
@model IndexModel
@{
    ViewData["Title"] = "Birthdays";
}

<div style="     position: relative; text-align: center;
                                      ">
    @if (Model.Response.TodaysBirthdays.Any())
    {
        foreach (var birthday in Model.Response.TodaysBirthdays)
        {
            if (@birthday.IsAniversary)
            {
                <p style="font-size:24px"><b>@birthday.Name</b> fyller @birthday.Years år i dag!</p>
            }
            else
            {
                <p style="font-size:24px"><b>@birthday.Name</b> har bursdag i dag!</p>
            }
        }
                            
    }


    @foreach (var birthday in Model.Response.NextBirthdays)
    {
        if (@birthday.IsAniversary)
        {
            if (@birthday.Days == 1)
            {
                <p style="font-size:20px"><b>@birthday.Name</b> fyller <b>@birthday.Years</b> år i morgen!</p>
            }
            else
            {
                <p style="font-size:20px"><b>@birthday.Name</b> fyller <b>@birthday.Years</b> år om @birthday.Days dager</p>
            }
        }
        else
        {
            if (@birthday.Days == 1)
            {
                <p style="font-size:20px"><b>@birthday.Name</b> har bursdag i morgen!</p>
            }
            else
            {
                <p style="font-size:20px"><b>@birthday.Name</b> har bursdag om @birthday.Days dager</p>
            }
        }
    }
</div>

